In [9]:
%reload_ext sql

In [10]:
%sql postgresql+psycopg2://ilhaam.ahmed:password@127.0.0.1:5432/db_performance

In [11]:
%%sql

SELECT c.id, c.name, (SELECT AVG(age) FROM students WHERE course_id = c.id) AS average_age
FROM courses c;

 * postgresql+psycopg2://ilhaam.ahmed:***@127.0.0.1:5432/db_performance
3 rows affected.

[(1, 'Mathematics', Decimal('20.5000000000000000')),
 (2, 'Physics', Decimal('21.5000000000000000')),
 (3, 'Chemistry', Decimal('22.0000000000000000'))]

In [12]:
%%sql

EXPLAIN ANALYZE SELECT c.id, c.name, (SELECT AVG(age) FROM students WHERE course_id = c.id) AS average_age
FROM courses c;

 * postgresql+psycopg2://ilhaam.ahmed:***@127.0.0.1:5432/db_performance
8 rows affected.

[('Seq Scan on courses c  (cost=0.00..4.26 rows=3 width=552) (actual time=0.032..0.041 rows=3 loops=1)',),
 ('  SubPlan 1',),
 ('    ->  Aggregate  (cost=1.07..1.08 rows=1 width=32) (actual time=0.007..0.007 rows=1 loops=3)',),
 ('          ->  Seq Scan on students  (cost=0.00..1.06 rows=1 width=4) (actual time=0.002..0.003 rows=2 loops=3)',),
 ('                Filter: (course_id = c.id)',),
 ('                Rows Removed by Filter: 3',),
 ('Planning Time: 0.144 ms',),
 ('Execution Time: 0.074 ms',)]

In [13]:
%%sql

SELECT c.id, c.name, t.average_age 
FROM courses c
LEFT JOIN (SELECT course_id, AVG(age) AS average_age FROM students GROUP BY course_id) t
ON c.id = t.course_id;

 * postgresql+psycopg2://ilhaam.ahmed:***@127.0.0.1:5432/db_performance
3 rows affected.

[(1, 'Mathematics', Decimal('20.5000000000000000')),
 (2, 'Physics', Decimal('21.5000000000000000')),
 (3, 'Chemistry', Decimal('22.0000000000000000'))]

In [14]:
%%sql

EXPLAIN ANALYZE SELECT c.id, c.name, t.average_age 
FROM courses c
LEFT JOIN (
    SELECT course_id, AVG(age) AS average_age 
    FROM students 
    GROUP BY course_id) t
ON c.id = t.course_id;

 * postgresql+psycopg2://ilhaam.ahmed:***@127.0.0.1:5432/db_performance
12 rows affected.

[('Hash Left Join  (cost=1.25..2.30 rows=3 width=552) (actual time=0.064..0.066 rows=3 loops=1)',),
 ('  Hash Cond: (c.id = t.course_id)',),
 ('  ->  Seq Scan on courses c  (cost=0.00..1.03 rows=3 width=520) (actual time=0.011..0.012 rows=3 loops=1)',),
 ('  ->  Hash  (cost=1.19..1.19 rows=5 width=36) (actual time=0.044..0.045 rows=3 loops=1)',),
 ('        Buckets: 1024  Batches: 1  Memory Usage: 9kB',),
 ('        ->  Subquery Scan on t  (cost=1.07..1.19 rows=5 width=36) (actual time=0.022..0.024 rows=3 loops=1)',),
 ('              ->  HashAggregate  (cost=1.07..1.14 rows=5 width=36) (actual time=0.021..0.023 rows=3 loops=1)',),
 ('                    Group Key: students.course_id',),
 ('                    Batches: 1  Memory Usage: 24kB',),
 ('                    ->  Seq Scan on students  (cost=0.00..1.05 rows=5 width=8) (actual time=0.003..0.004 rows=5 loops=1)',),
 ('Planning Time: 0.168 ms',),
 ('Execution Time: 0.121 ms',)]

### What is the code doing?

I've rewritten the query to improve its readability and I've added a subquery using a LEFT JOIN. To explain what the subquery does, it groups the students table by course_id and calculates the average for each course. The subquery is stored as average_age and the alias 't' is used. I then use a LEFT JOIN between the courses table and the subquery results and join this on the id for both.

### Insights

1. The EXPLAIN ANALYZE on the original query gives a shorter execution time
2. The EXPLAIN ANALYZE on the rewritten query gives a longer execution time
3. The rewritten query is definitely more conside and easier to read
4. The EXPLAIN ANALYZE results for rewritten query use Hash operations as there are aggregation tasks such as GROUP BY, where the data is hashed based on grouping keys calculate aggregate functions. My research indicates that hash operations can significantly speed up query processing but for some reason the execution time is shorter for the original query. Though I understand that this can depend on the specific dataset and database system being used.